@font-face {
  font-family: "Calligraphy";
  src: url("./assets/fonts/Calligraphy.woff2") format("woff2"),
    url("./assets/fonts/Calligraphy.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: "Calligraphy" !important;
}

@import "./assets/css/reset.css";
