@font-face {
  font-family: "Calligraphy";
  src: url("./assets/fonts/Calligraphy.woff2") format("woff2"),
    url("./assets/fonts/Calligraphy.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato-Black.woff2") format("woff2"),
    url("./assets/fonts/Lato-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: "Calligraphy" !important;
}

.sharethis-inline-share-buttons {
  font-family: "Lato" !important;
}

.sharethis-inline-share-buttons * {
  font-family: "Lato" !important;
}

.st-btns * {
  font-family: "Lato" !important;
}

.st-logo {
  display: none !important;
}

.st-disclaimer {
  display: none !important;
}

@import "./assets/css/reset.css";
